nodejs 20.5.0
python 3.11.3
rust 1.82.0
golang 1.25.0
yarn 1.22.19
java openjdk-18
terraform 1.6.5 # https://github.com/asdf-community/asdf-hashicorp
poetry 1.8.2
dotnet 8.0.203
uv 0.6.11
pnpm 10.9.0
